---
---

//@import "reset";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 1.1em;
}

section {
  text-align: center;
  padding: 2rem .25rem;
}

wrapper {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
p {
  line-height: 1.4em;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

.button {
  background: orange;
  padding: 1rem 2rem;
  color: white;
  font-weight: 600;
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 4px;
  width: 80%;
  max-width: 400px;
  &.signup {

  }
  &.contact {
    background: none;
    border: 2px solid orange;
    color: orange;
  }
}

.top {
  background: linear-gradient(180deg, #185A9D 0%, #43CEA2 40.61%, rgba(67, 206, 162, 0) 73.5%);
  color: white;
  padding-top: 1rem;
}

.twitter-tweet-rendered {
  margin: 10px auto;
}

.trackable {
  width: 100%;
  padding: 1em;
  border: 1px solid #efefef;
  border-radius: 4px;
  text-align: left;
  margin-bottom: .5em;
  box-shadow: 0 2px 0 #efefef;
  &>* {
    vertical-align: middle;
  }
  .text {
    display: inline-block;
    width: 85%;
  }
  h3 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  img {
    width: 30px;
    height: 30px;
    margin-right: .5em;
  }
}
// .tools {
//   img {
//     width: 70%;
//     margin-bottom: 2.5em;
//   }
//   h2 {
//     margin-bottom: 2em;
//   }
//   h3 {
//     margin: 0;
//   }
//   p {
//     width: 90%;
//     margin: .2em auto 0 auto;
//   }
// }
